.home-container {
  height: 100%;
  flex-direction: column;
  gap: 10px;

  .logo {
    min-height: 80px;
  }
  .card {
    & > div {
      width: 100%;
    }

    input {
      width: 100%;
      border-radius: 5px;
      font-size: 15px;
    }

    button {
      height: 35px;
      width: 100%;
      background: #1b8bfc;
      color: #ffff;
      font-size: 16px;
      border-radius: 5px;
    }

    .room {
      margin-top: 20px;

      .divider {
        border-bottom: 1px solid lightgrey;
        margin: 15px 0;

        &::before {
          content: 'OR';
          width: 35px;
          position: absolute;
          background: #ffff;
          font-size: 15px;
          transform: translate(-13px, -11px);
          color: grey;
        }
      }
      .join-room {
        gap: 5px;
        & > * {
          flex: 1;
        }
        button {
          background: #00b44b;
        }
      }
    }
    .error {
      color: #f70101;
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      margin-top: 10px;
    }
  }
  .how-to button {
    color: #ffff;
    font-size: 16px;
  }
  .attrition {
    color: #fff;
    font-family: cursive;
    font-size: 13px;
  }

  .tech {
    color: #ffff;
    font-size: 14px;
    ul {
      gap: 10px;
      margin-top: 5px;
    }
  }
  @media only screen and (max-width: 800px) {
    gap: 10px;
    .card {
      border-radius: 10px;
    }
    .logo {
      margin-bottom: -10px;
      img {
        width: 300px;
      }
    }

    .tech {
      position: absolute;
      width: 100%;
      padding: 5px;
      bottom: 0;
      background: #0000001e;
    }
  }
}
