.players-container {
  width: 180px;
  height: 460px;
  position: relative;

  ::selection {
    background: #005eeb !important;
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    margin-bottom: 5px;
    background: #f3f3f3;
    height: 32px;

    .rank {
      width: 20px;
      font-size: 18px;
      font-weight: 700;
      font-family: AlMaklum;
      color: #9517fc;
      margin-right: 10px;
      animation: rank 1.5s infinite;

      @keyframes rank {
        0% {
          font-size: 18px;
        }
        50% {
          font-size: 20px;
        }
        80% {
          font-size: 18px;
        }
      }
    }
    .player {
      margin-left: 10px;
      text-align: left;

      .name {
        font-size: 15px;
        font-weight: 500;
        span {
          color: #8a8a8a;
          font-size: 12px;
          font-weight: normal;
        }
      }
      .score {
        font-size: 12px;

        span {
          color: #005eeb;
          font-size: 13px;
        }
      }
    }
  }
  .roomId {
    position: absolute;
    bottom: 5px;
    width: inherit;
    color: #d5d4d4;
    font-weight: 500;
    font-family: monospace;
    font-size: 13px;
  }

  @media only screen and (max-width: 800px) {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    .roomId {
      position: static;
      font-size: 15px;
    }
    ul {
      display: flex;
      justify-content: center;
      gap: 5px;
      flex-wrap: wrap;
      li {
        height: 27px;
        img {
          width: 25px;
          height: 25px;
        }
        .player {
          margin-left: 5px;
          .name {
            font-size: 13px;
            span {
              display: none;
            }
          }
          .score {
            font-size: 12px;
          }
        }
        .rank {
          font-size: 15px;
          animation: none;
          width: auto;
          margin: 0;
          margin-left: 10px;
        }
      }
    }
  }
}
