.options-container {
  position: absolute;
  width: 630px;
  height: 460px;
  background: #383838ed;
  z-index: 100;
  align-items: center;

  .animate {
    animation: a1 0.2s;

    @keyframes a1 {
      0% {
        position: absolute;
        top: 0;
      }
      100% {
        position: absolute;
        top: 43%;
      }
    }
  }

  .info {
    color: #ffff;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .option {
    padding: 5px 15px;
    border-radius: 5px;
    background: #0070e2;
    color: #ffff;
    font-size: 18px;
    font-family: inherit;

    &:nth-child(n + 2) {
      margin-left: 10px;
    }
  }

  .result {
    .info {
      border-bottom: 1px solid grey;
    }
    table {
      font-size: 25px;
      color: #ffff;
      font-family: cursive;
      border-spacing: 25px 0;
      text-align: left;

      td:last-child {
        color: #00b44b;
        align-items: center;
        .zero {
          color: #f70303 !important;
        }
        .winner {
          height: 25px;
          position: absolute;
          transform: translate(10px, 7px);
        }
      }
    }
  }
  @media only screen and (max-width: 800px) {
    width: 315px;
    height: 230px;
    border-radius: 5px;
    .info {
      font-size: 20px;
    }
    .option {
      font-size: 16px;
      padding: 5px 8px;
    }
  }
}
