body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/background.png);
  background-size: 250px;

  #root {
    background: linear-gradient(90deg, #025c88d9, #016c77d9, #019178cf);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
  }
}

@font-face {
  font-family: AlMaklum;
  src: url(./assets/font/AlMaklum.ttf);
}
